.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generator{
  background-image: linear-gradient(-225deg, #7072ff 0%, #c39dff 100%);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(245, 244, 244, 0.863);
  padding: 60px;
}
.generator__header{
  text-align: center;
  color: #ffffff;
  margin-bottom: 35px;
}
.generator__password{
  background-color:#ffffff;
  border-radius: 30px;
  padding: 13px 10px;
  color: #313131;
  margin-bottom: 25px;
  height: 46px;
  display: flex;
  justify-content: space-between;
}
.copy__btn{
  color: #313131;
  background: #ffffff;
  border: none;
  cursor: pointer;
  padding-left: 10px;
}
.generator__btn{
  background: #313131;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  color: #fff;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;

}
.form-group{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}